.runinfo {
  left: 643px;
  top: 545px;
  width: 634px;
}

#commentaryPlates {
  left: 643px;
  top: 801px;
  width: 643px;
}

#plate0 {
  left: 4px;
  top: 545px;
  width: 635px;
}

#plate1 {
  left: 1281px;
  top: 545px;
  width: 635px;
}

#timerContainer {
  left: 643px;
  top: 673px;
  width: 634px;
  height: 124px;
}