.runinfo {
  left: 1281px;
  top: 918px;
  width: 635px;
}

#commentaryPlates {
  left: 4px;
  top: 982px;
  width: 635px;
}

#plate0 {
  left: 4px;
  top: 918px;
  width: 635px;
}

#timerContainer {
  left: 643px;
  top: 918px;
  height: 124px;
  width: 634px;
}