.runinfo {
  left: 429px;
  top: 854px;
  width: 529px;
}

#commentaryPlates {
  left: 696px;
  top: 982px;
  width: 530px;
}

#plate0 {
  left: 429px;
  top: 726px;
  width: 529px;
}

#plate1 {
  left: 962px;
  top: 726px;
  width: 529px;
}

#timerContainer {
  left: 962px;
  top: 854px;
  height: 124px;
  width: 529px;
}